.ay-header {
  background: #049AE7;
  padding: 20px 0;

  nav {
    ul {
      margin: 0;
      padding: 0;

      li {
        a {
          font-family: 'Roboto', sans-serif;
          font-size: 30px;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}
